@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yucchiy\/src\/github\.com\/yucchiy\/password-generator\/app\/styles\/popup\.scss}line{font-family:\000032}}
.container {
  width: 400px;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yucchiy\/src\/github\.com\/yucchiy\/password-generator\/app\/styles\/popup\.scss}line{font-family:\000037}}
.title {
  margin: 0 0 20px 0;
}
